<h2 class="text-center">Today's Tasks</h2>
<h5 class="text-center mb-5">Mar 25, 2023</h5>

<form [formGroup]="addTaskForm" (ngSubmit)="onSubmit()" class="row mb-4 px-5">
    <div class="col-3">
        <input formControlName="title" type="text" class="form-control" placeholder="Title">
    </div>
    <div class="col-5">
        <input formControlName="description" type="text" class="form-control" placeholder="Description">
    </div>
    <div class="col-2">
        <button [disabled]="addTaskForm.invalid" type="submit" class="btn btn-primary">Add</button>
    </div>
</form>

<p class="px-5">Total: {{tasks.length}}</p>

<ul class="list-group px-5">
    <li *ngFor="let task of tasks" [ngClass]="completedCss(task)"
        class="list-group-item d-flex justify-content-between align-items-center">
        {{task.title}} - {{task.description}}
        <div>
            <button *ngIf="!task.complete" (click)="onComplete(task)" type="button" class="btn btn-light">
                <i class="bi bi-check text-primary"></i>
            </button>
            <button (click)="onDelete(task)" type="button" class="btn btn-light">
                <i class="bi bi-trash text-danger"></i>
            </button>
        </div>
    </li>
</ul>