<h2 class="text-center"> Sign Up to Our App </h2>

<form class="p-5">
    <div class="m-auto">
        <div class="p-2 col-sm-5 m-auto ">
            <label for=" inputName" class="">Name:</label>
        </div>
        <div class="col-sm-5 m-auto">
            <input type="name" class="form-control" id="inputName" placeholder="Name">
        </div>
    </div>
    <div class="m-auto">
        <div class="p-2 col-sm-5 m-auto ">
            <label for="staticEmail" class="">Email:</label>
        </div>
        <div class="col-sm-5 m-auto">
            <input type="text" class="form-control" id="staticEmail" placeholder="Email">
        </div>
    </div>
    <div class="m-auto">
        <div class="p-2 col-sm-5 m-auto">
            <label for="inputPassword" class="">Password:</label>
        </div>
        <div class="col-sm-5 m-auto">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary ptn-lg">Sign Up</button> -->
    <div class="d-grid gap-2 mt-3">
        <button class="btn btn-primary col-sm-5 m-auto" type="button">Click to Sign Up</button>
    </div>
</form>