<h2 class="text-center"> Sign Up to Our App </h2>


<!--? Example for uncomplicated forms using "FormsMudule" -->
<!-- <div class="mb-3">
    <label for="name">Name:</label>
    <input [(ngModel)]="nameField" #name="ngModel" required minlength="2" type="text" class="form-control" id="name"
            placeholder="Name">
        </div>
        <p>{{nameField}}</p>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
        <div *ngIf="name.errors?.['required']">
            Name is required
        </div>
        <div *ngIf="name.errors?.['minlength']">
            Name must me at least 2 chars
        </div>
    </div> -->

<!--? Example for complicated forms using "ReactiveFormsModule"-->
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="col-6 m-auto">

    <div class="mb-3">
        <label for="name">Name:</label>
        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <app-field-error [formField]="getFieldControl('name')"></app-field-error>

    <div class="mb-3">
        <label for="email">Email:</label>
        <input formControlName="email" type="text" class="form-control" id="email" placeholder="name@gmail.com">
    </div>
    <app-field-error [formField]="getFieldControl('email')"></app-field-error>

    <div class="mb-3">
        <label for="password">Password:</label>
        <input formControlName="password" type="password" class="form-control" id="password">
    </div>
    <app-field-error [formField]="getFieldControl('password')"></app-field-error>

    <div class="d-grid gap-2 mt-3">
        <button [disabled]="signUpForm.invalid" class="btn btn-primary col-sm-6 m-auto" type="submit">
            Click to Sign Up
        </button>
    </div>

</form>